@* _UserOrderSection.cshtml *@
<div class="card shadow-sm border-0" id="userOrder">
    <div class="card-header bg-white border-bottom-0">
        <h5 class="mb-0">📦 User Orders</h5>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered align-middle table-striped bg-white text-center" id="userOrderTable">
            <thead class="table-dark">
                <tr>
                    <th scope="col">🆔 Order ID</th>
                    <th scope="col">📅 Date</th>
                    <th scope="col">💰 Total</th>
                    <th scope="col">📌 Status</th>
                </tr>
            </thead>
            <tbody id="userOrderTableBody">
                <!-- User orders will be loaded here -->
            </tbody>
        </table>
    </div>
</div>
