@{
    ViewData["Title"] = "Book Order";
}

<div id="orderDetails">
    <h4 class="mb-3">Your Orders</h4>

    <div class="table-responsive">
        <table class="table table-bordered table-striped" id="orderTable">
            <thead class="table-dark">
                <tr>
                    <th>Total Amount</th>
                    <th>Order Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
                <!-- Dynamic rows will be injected here -->
            </tbody>
        </table>
    </div>
</div>

<div id="paymentSection" class="mt-4"></div>

<script src="~/js/Order/Index.js"></script>

