

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Minimized footer with left logo, motto, and right contact information */
.readhaven-footer {
    background: #212529;
    font-size: 0.75rem; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

    .readhaven-footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }

    .readhaven-footer .logo-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align items to the left */
        gap: 5px;
        margin-left: 20px; /* Add margin to the left to ensure consistent alignment */
    }

        .readhaven-footer .logo-text .motto {
            font-size: 0.8rem;
            color: #aaa;
            margin-top: 5px;
        }

    .readhaven-footer .contact-info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        margin-right: 20px; /* Add margin to the right to ensure consistent alignment */
    }

    .readhaven-footer .social-links {
        display: flex;
        gap: 10px;
    }

    .readhaven-footer a:hover {
        color: #fff !important;
        text-decoration: none;
    }

    .readhaven-footer small {
        color: #aaa; /* Light text color */
    }

    .readhaven-footer .social-links a {
        font-size: 1.2rem;
    }

    .readhaven-footer .contact-info small {
        display: block;
    }

    .readhaven-footer .d-flex {
        width: 100%;
    }


.button.btn-link {
    text-decoration: none !important;
}

